extends ../layout

block content
  div(class="flex-container2 f3 col-md-12")
    h1 Enter Car Details
      <div class="form-group">
          <label for="addCar">Name</label>
          <input type="text" class="form-control bg-dark text-light" name="addCar" id="addName" placeholder="Name of the car">
          <small id="nameHelpId" class="form-text text-muted text">Name should have minimum 3 and maximum 20 characters</small>

          <label for="addCar">Model</label>
          <input type="number" class="form-control bg-dark text-light" name="addCar" id="addModel" placeholder="Model of the car">
          <small id="modelHelpId" class="form-text text-muted">Model should be between 1700 - 3000</small>

          <label for="addCar">Price</label>
          <input type="number" class="form-control bg-dark text-light" name="Price" id="addPrice" placeholder="Price of the car">
          <small id="priceHelpId" class="form-text text-muted">Price should be more than 0</small>
      </div>
      <button type="button" id="addSave" class="btn btn-danger">Add</button>
