//- <!-- Modal -->
<div class="modal fade" id="editServiceModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Edit Product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        <div class="form-group">
            <input type="hidden" class="form-control" name="ID" id="editServiceID" aria-describedby="helpId" placeholder="ID of the service">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="Name" id="editServiceName" aria-describedby="helpId" placeholder="Name of the service">
            
            <label for="name">Price</label>
            <input type="number" class="form-control" name="Price" id="editServicePrice" aria-describedby="helpId" placeholder="Price of the service">
        </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="editServiceSave" class="btn btn-primary">Save</button>
        </div>
    </div>
    </div>
</div>