<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title font-weight-bold">Sign UP</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <label for="Name" class="font-weight-bold">Name</label>
                <input type="text" class="form-control" name="Name" id="signUpName" placeholder="Enter your name">
                <small id="nameHelpId" class="form-text text-muted text">Name should have minimum 3 and maximum 20 characters</small>
                
                <label for="Email" class="font-weight-bold">Email</label>
                <input type="text" class="form-control" name="Email" id="signUpEmail" placeholder="Enter your email">
                <small id="emailHelpId" class="form-text text-muted text">Email should be unique and have minimum 6 and maximum 30 characters</small>

                <label for="Password" class="font-weight-bold">Password</label>
                <input type="text" class="form-control" name="Password" id="signUpPassword" placeholder="Enter your password">
                <small id="passwordHelpId" class="form-text text-muted">Password should have minimum 6 and maximum 20 characters</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="signUpSave" class="btn btn-primary" data-dismiss="modal">Sign Up</button>
            </div>
        </div>
    </div>
</div>


