<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title font-weight-bold">Sign UP</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                form(action="/api/users/register",method="post")
                    .form-group
                        label(for="name" class="font-weight-bold") Name
                        input#name(type="text", class="form-control", name="name", placeholder="Enter your name")
                        <small id="nameHelpId" class="form-text text-muted text">Name should have minimum 3 and maximum 20 characters</small>
                    .form-group
                        label(for="email" class="font-weight-bold") Email
                        input#email(type="text", class="form-control", name="email", placeholder="Enter your email")
                        <small id="emailHelpId" class="form-text text-muted text">Email should be unique and have minimum 6 and maximum 30 characters</small>
                    .form-group
                        label(for="password" class="font-weight-bold") Password
                        input#password(type="password", class="form-control", name="password", placeholder="Enter your password")
                        <small id="passwordHelpId" class="form-text text-muted">Password should have minimum 6 and maximum 20 characters</small>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    input(type="submit" id="signUpSave" class="btn btn-primary" value="Sign Up")
            </div>
        </div>
    </div>
</div>


