doctype html
<html lang="en">
html
  head
    title= title
    link(rel="icon", href="/images/logo.jpg", type="image/jpg")
    //- Required meta tags
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    //- Bootstrap CSS
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css')
    //- jQuery first, then Popper.js, then Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
    //- Optional JavaScript
    script(src='/javascripts/script.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js')
 
  body
    include ./partials/sellCarModal
    include ./partials/logInModal
    include ./partials/signUpModal
    include ./partials/carEditModal
    include ./partials/serviceEditModal
    include ./partials/sparepartEditModal
    
    <div class="flex-container">
        <div class="row">
            <div id="logo" class="col-lg-3">Car<span>Site</span></div>
            <div id="tabs" class="col-lg-6">
                <ul id="tab-items" class="float-md-none">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" id="dropdownCarId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Car</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a href="/buy">Buy</a>
                            <a type="button" data-toggle="modal" data-target="#sellModal">Sell</a>
                            <a href="/">Rent</a>
                            <a href="/">Rent Out</a>
                            <a href="/repair">Repair</a>
                        </div>
                    </li>
                    if user 
                        <li><a href="/cart">My Cart</a></li>
                </ul>
            </div>
            <div id="info" class="col-lg-2">
                <ul id="info-items">
                    <li>+92 337 0407835</li>
                    <ul  id="register">
                        if !user
                            <li class="signIn"><a type="button" data-toggle="modal" data-target="#signInModal">Sign In</a></li>
                            <li class="signUp"><a type="button" data-toggle="modal" data-target="#signUpModal">Sign Up</a></li>
                        if user
                            <li class="signIn"><a type="button">Profile</a></li>
                            <li class="signUp"><a type="button" href="/api/users/logout">Log Out</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>

    block content

    <div id="testimonials" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-hd">At Your Service</h2>
                </div>
                <div class="col manager">
                    img(src="/images/manager.jpg", alt="")
                    p.head Syed Muhammad Danial Raza Naqvi
                    p Studies at COMSATS LHR, lives in Lahore and manages the company from home </br> +92 337 0407835 </br> danialsyed66@gmail.com
                </div>
            </div>
        </div>
    </div>

    <div id="footer-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-widget">
                        <h4>About company</h4>
                        <p>CarSite.com.pk is an Online Car Buying, Selling, Renting, and Repairing Platform that provides reliable and expert Car Dealers, Mechanics and Experts in Pakistan at the convenience of your Door Step.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-widget">
                        <h4>Company Address</h4>
                        <address>
                            <b>CarSite.com.pk, inc.</b>
                            main FB-42 Wahdat Colony, Lahore, Punjab, Pakistan.<br>
                            ph: 03370407835
                            ph: 03124991214
                            p danialsyed66@gmail.com
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="row">
            <div class="col-md-6">copyright@danialsyed carsite.com.pk</div>
            <div class="col-md-6">
                <ul id="social-icons" class="float-md-right">
                    <li><a href="https://www.facebook.com/danial.syed.58" class="fa fa-facebook" target="_blank"> </a></li>
                    <li><a href="https://twitter.com/danialsyed14" class="fa fa-twitter" target="_blank"> </a></li>
                    <li><a href="https://www.instagram.com/danial_syed4/" class="fa fa-instagram" target="_blank"> </a></li>
                </ul>
            </div>
        </div>
    </div>
